<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
  <h2>Error Occurred, be cautious!</h2>
  <section id="message" class="section">
      <div class="container" th:unless="${#strings.isEmpty(message) or #strings.isEmpty(url)}">
          Message: <label th:style="'color: red'" th:text="${message}"/>
          <br/>
          Url: <label th:style="'color: red'" th:text="${url}"/>
      </div>
  </section>
</body>
</html>